@model RoleViewModel

<form method="post">
    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="Name">Название:</label><br />
        <input type="text" class="form-control" name="name" id="name" asp-for="Name" />
        <span asp-validation-for="Name" />
    </div>
    <button type="submit" class="btn btn-primary" asp-area="Admin" asp-action="Add" asp-controller="Roles">Сохранить</button>
</form>