<div class="container-fluid">
    <div class="row">
        @await Html.PartialAsync("UserPanelNavigation")
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <h2 class="text-center mr-5">Добро пожаловать в Личный кабинет<br>Выбирете пункт в меню для отображения данных</h2>
        </main>
    </div>
</div>