<!-- Левое меню -->
<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="Main">
                    Главная
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-area="" asp-controller="Account" asp-action="GetOptions">
                    Настройки
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="GetOrders">
                    Мои заказы
                </a>
            </li>
        </ul>
    </div>
</nav>