<!-- Левое меню -->
<nav class="col-md-3 col-lg-2 d-md-block sidebar">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" asp-area="Admin" asp-action="Index" asp-controller="Admin">
                    Главная
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-area="Admin" asp-action="GetOrders" asp-controller="Admin">
                    Заказы
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-action="GetUsers" asp-controller="Admin">
                    Пользователи
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-action="GetRoles" asp-controller="Admin">
                    Роли
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="Admin" asp-action="GetProducts" asp-controller="Admin">
                    Продукты
                </a>
            </li>
        </ul>
    </div>
</nav>