<div class="container mt-5 text-center">
    <h1>Такой роли не существует</h1>
    <a class="btn btn-primary btn-sm mt-2 ml-3" href="/home/index/" role="button">Вернуться на главную страницу</a>
</div>