.card {
    position: relative;
}

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.card:hover .button {
    opacity: 1;
}

.bookmark-icon, .compare-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.compare-icon {
    top: 40px; 
}